:root {

    --background: #191119;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #372d37;

    --inverse_primary: #4758a9;

    --inverse_surface: #eedeeb;

    --on_background: #eedeeb;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #122878;

    --on_primary_container: #dde1ff;

    --on_primary_fixed: #001356;

    --on_primary_fixed_variant: #2d4090;

    --on_secondary: #202c61;

    --on_secondary_container: #dde1ff;

    --on_secondary_fixed: #08164b;

    --on_secondary_fixed_variant: #384379;

    --on_surface: #eedeeb;

    --on_surface_variant: #d7bfd5;

    --on_tertiary: #48204e;

    --on_tertiary_container: #ffd5ff;

    --on_tertiary_fixed: #310938;

    --on_tertiary_fixed_variant: #613766;

    --outline: #9f8a9e;

    --outline_variant: #524153;

    --primary: #b9c3ff;

    --primary_container: #2d4090;

    --primary_fixed: #dde1ff;

    --primary_fixed_dim: #b9c3ff;

    --scrim: #000000;

    --secondary: #b9c3ff;

    --secondary_container: #384379;

    --secondary_fixed: #dde1ff;

    --secondary_fixed_dim: #b9c3ff;

    --shadow: #000000;

    --source_color: #c630e3;

    --surface: #191119;

    --surface_bright: #403640;

    --surface_container: #261d26;

    --surface_container_high: #302730;

    --surface_container_highest: #3c323b;

    --surface_container_low: #211922;

    --surface_container_lowest: #130b14;

    --surface_dim: #191119;

    --surface_tint: #b9c3ff;

    --surface_variant: #524153;

    --tertiary: #ebb5ed;

    --tertiary_container: #613766;

    --tertiary_fixed: #ffd5ff;

    --tertiary_fixed_dim: #ebb5ed;

}