:root {

    --background: #0c141b;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #293138;

    --inverse_primary: #006a64;

    --inverse_surface: #dbe4ed;

    --on_background: #dbe4ed;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #003734;

    --on_primary_container: #71f7ec;

    --on_primary_fixed: #00201e;

    --on_primary_fixed_variant: #00504b;

    --on_secondary: #003734;

    --on_secondary_container: #9df2e9;

    --on_secondary_fixed: #00201e;

    --on_secondary_fixed_variant: #00504b;

    --on_surface: #dbe4ed;

    --on_surface_variant: #b7c9d8;

    --on_tertiary: #00344d;

    --on_tertiary_container: #c8e6ff;

    --on_tertiary_fixed: #001e2e;

    --on_tertiary_fixed_variant: #004c6d;

    --outline: #8193a2;

    --outline_variant: #384956;

    --primary: #50dbd0;

    --primary_container: #00504b;

    --primary_fixed: #71f7ec;

    --primary_fixed_dim: #50dbd0;

    --scrim: #000000;

    --secondary: #81d5cd;

    --secondary_container: #00504b;

    --secondary_fixed: #9df2e9;

    --secondary_fixed_dim: #81d5cd;

    --shadow: #000000;

    --source_color: #6cafdc;

    --surface: #0c141b;

    --surface_bright: #313a41;

    --surface_container: #182127;

    --surface_container_high: #222b32;

    --surface_container_highest: #2d363d;

    --surface_container_low: #141d23;

    --surface_container_lowest: #070f15;

    --surface_dim: #0c141b;

    --surface_tint: #50dbd0;

    --surface_variant: #384956;

    --tertiary: #94cdf6;

    --tertiary_container: #004c6d;

    --tertiary_fixed: #c8e6ff;

    --tertiary_fixed_dim: #94cdf6;

}