:root {

    --background: #11140e;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2e312a;

    --inverse_primary: #47672f;

    --inverse_surface: #e2e3d9;

    --on_background: #e2e3d9;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #1a3705;

    --on_primary_container: #c8eea8;

    --on_primary_fixed: #0b2000;

    --on_primary_fixed_variant: #304f1a;

    --on_secondary: #293420;

    --on_secondary_container: #dae7c9;

    --on_secondary_fixed: #141e0c;

    --on_secondary_fixed_variant: #3f4a35;

    --on_surface: #e2e3d9;

    --on_surface_variant: #c4c8ba;

    --on_tertiary: #003736;

    --on_tertiary_container: #bbecea;

    --on_tertiary_fixed: #002020;

    --on_tertiary_fixed_variant: #1e4e4d;

    --outline: #8e9286;

    --outline_variant: #44483e;

    --primary: #add28e;

    --primary_container: #304f1a;

    --primary_fixed: #c8eea8;

    --primary_fixed_dim: #add28e;

    --scrim: #000000;

    --secondary: #becbae;

    --secondary_container: #3f4a35;

    --secondary_fixed: #dae7c9;

    --secondary_fixed_dim: #becbae;

    --shadow: #000000;

    --source_color: #69ac37;

    --surface: #11140e;

    --surface_bright: #373a33;

    --surface_container: #1d211a;

    --surface_container_high: #282b24;

    --surface_container_highest: #33362f;

    --surface_container_low: #191d16;

    --surface_container_lowest: #0c0f09;

    --surface_dim: #11140e;

    --surface_tint: #add28e;

    --surface_variant: #44483e;

    --tertiary: #a0cfce;

    --tertiary_container: #1e4e4d;

    --tertiary_fixed: #bbecea;

    --tertiary_fixed_dim: #a0cfce;

}