@import url('colors.css');

* {
    font-family: "Hiragino Kaku Gothic Pro";
    border-radius: 0;
}

/* notifications */
.notification-background {
    margin: 18px;
    background: var(--background);
    color: var(--on_surface);
    padding: 0;
}

.notification-background .notification {
    padding: 7px;
}

.notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 var(--error);
}

.notification .notification-content {
    margin: 7px;
}

.notification .notification-content overlay {
    margin: 4px;
}

.notification-content .summary {
    color: var(--on_surface);
}

.notification-content .time {
    color: var(--on_surface_variant);
}

.notification-content .body {
    color: var(--on_surface_variant);
}

.notification>*:last-child>* {
    min-height: 3.4em;
}

.notification-background .close-button {
    margin: 7px;
    padding: 2px;
    color: var(--on_error);
    background-color: var(--error);
}

.notification-background .close-button:hover {
    background-color: var(--primary_container);
}

.notification-background .close-button:active {
    background-color: var(--primary_fixed);
}

.notification .notification-action {
    color: var(--on_surface);
    box-shadow: inset 0 0 0 1px var(--surface_variant);
    margin: 4px;
    padding: 8px;
    font-size: 0.2rem;
}

.notification .notification-action {
    background-color: var(--surface_container);
}

.notification .notification-action:hover {
    background-color: var(--surface_variant);
}

.notification .notification-action:active {
    background-color: var(--surface_bright);
}

.notification.critical progress {
    background-color: var(--error);
}

.notification.low progress,
.notification.normal progress {
    background-color: var(--primary);
}

.notification progress,
.notification trough,
.notification progressbar {
    padding: 3px 0;
}

/* control center */
.control-center {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px var(--surface_container);
    background-color: var(--background);
    color: var(--on_surface);
    padding: 14px;
}

.control-center .notification-background {
    box-shadow: inset 0 0 0 1px var(--surface_variant);
    margin: 4px 10px;
}

.control-center .notification-background .notification.low {
    opacity: 0.8;
}

.control-center .notification image {
    border-radius: 0;
}

.control-center .widget-title>label {
    color: var(--on_surface);
    font-size: 1.3em;
}

.control-center .widget-title button {
    color: var(--on_surface);
    background-color: var(--surface_container);
    box-shadow: inset 0 0 0 1px var(--surface_variant);
    padding: 8px;
}

.control-center .widget-title button:hover {
    background-color: var(--surface_variant);
}

.control-center .widget-title button:active {
    background-color: var(--surface_bright);
}

.control-center .notification-group {
    margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
    background-color: var(--surface_container);
}

scrollbar slider {
    margin: -3px;
    opacity: 0.8;
}

scrollbar trough {
    margin: 2px 0;
}

/* dnd */
.widget-dnd {
    margin-top: 5px;
    font-size: 1.1rem;
}

.widget-dnd>switch {
    font-size: initial;
    background: var(--surface_container);
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: var(--primary);
}

.widget-dnd>switch slider {
    background: var(--surface_variant);
}

/* mpris */
.widget-mpris-player {
    background: var(--surface_container);
    color: var(--on_surface);
}

.mpris-overlay {
    background-color: var(--surface_container);
    opacity: 0.9;
    padding: 15px 10px;
}

.widget-mpris-album-art {
    -gtk-icon-size: 100px;
    margin: 0 10px;
}

.widget-mpris-title {
    font-size: 1.2rem;
    color: var(--on_surface);
}

.widget-mpris-subtitle {
    font-size: 1rem;
    color: var(--on_surface_variant);
}

.widget-mpris button {
    color: var(--on_surface);
    margin: 0 5px;
    padding: 2px;
}

.widget-mpris button image {
    -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
    background-color: var(--surface_container);
}

.widget-mpris button:active {
    background-color: var(--surface_variant);
}

.widget-mpris button:disabled {
    opacity: 0.5;
}

.widget-menubar>box>.menu-button-bar>button>label {
    font-size: 3rem;
    padding: 0.5rem 2rem;
}

.widget-menubar>box>.menu-button-bar> :last-child {
    color: var(--error);
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
    background: var(--surface_container);
}

.control-center .widget-label>label {
    color: var(--on_surface);
    font-size: 2rem;
}

.widget-buttons-grid {
    padding-top: 1rem;
}
