* {
    primary: #cfcb55;
    primary-fixed: #ece76d;
    primary-fixed-dim: #cfcb55;
    on-primary: #333200;
    on-primary-fixed: #1e1d00;
    on-primary-fixed-variant: #4b4900;
    primary-container: #4b4900;
    on-primary-container: #ece76d;
    secondary: #ceca75;
    secondary-fixed: #ebe68e;
    secondary-fixed-dim: #ceca75;
    on-secondary: #333200;
    on-secondary-fixed: #1e1d00;
    on-secondary-fixed-variant: #4b4900;
    secondary-container: #4b4900;
    on-secondary-container: #ebe68e;
    tertiary: #93d5aa;
    tertiary-fixed: #aff2c4;
    tertiary-fixed-dim: #93d5aa;
    on-tertiary: #00391f;
    on-tertiary-fixed: #002110;
    on-tertiary-fixed-variant: #0b5131;
    tertiary-container: #0b5131;
    on-tertiary-container: #aff2c4;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0b160f;
    on-surface: #dae6da;
    on-surface-variant: #b5ccba;
    outline: #809685;
    outline-variant: #374b3d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dae6da;
    inverse-on-surface: #28332b;
    inverse-primary: #646100;
    surface-dim: #0b160f;
    surface-bright: #313c34;
    surface-container-lowest: #07100a;
    surface-container-low: #141e17;
    surface-container: #18221b;
    surface-container-high: #222c25;
    surface-container-highest: #2d372f;
}