* {
    primary: #e7c349;
    primary-fixed: #ffe080;
    primary-fixed-dim: #e7c349;
    on-primary: #3c2f00;
    on-primary-fixed: #231b00;
    on-primary-fixed-variant: #564500;
    primary-container: #564500;
    on-primary-container: #ffe080;
    secondary: #e0c56d;
    secondary-fixed: #fee186;
    secondary-fixed-dim: #e0c56d;
    on-secondary: #3c2f00;
    on-secondary-fixed: #231b00;
    on-secondary-fixed-variant: #564500;
    secondary-container: #564500;
    on-secondary-container: #fee186;
    tertiary: #a3d398;
    tertiary-fixed: #bef0b2;
    tertiary-fixed-dim: #a3d398;
    on-tertiary: #0e380d;
    on-tertiary-fixed: #002202;
    on-tertiary-fixed-variant: #265022;
    tertiary-container: #265022;
    on-tertiary-container: #bef0b2;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0e150c;
    on-surface: #dce5d5;
    on-surface-variant: #baccb2;
    outline: #85957e;
    outline-variant: #3c4b38;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dce5d5;
    inverse-on-surface: #2b3328;
    inverse-primary: #725c00;
    surface-dim: #0e150c;
    surface-bright: #333b30;
    surface-container-lowest: #091007;
    surface-container-low: #161e14;
    surface-container: #1a2218;
    surface-container-high: #242c22;
    surface-container-highest: #2f372c;
}