* {
    primary: #ffade2;
    primary-fixed: #ffd8ee;
    primary-fixed-dim: #ffade2;
    on-primary: #581149;
    on-primary-fixed: #3b0030;
    on-primary-fixed-variant: #742a61;
    primary-container: #742a61;
    on-primary-container: #ffd8ee;
    secondary: #f7b1de;
    secondary-fixed: #ffd8ee;
    secondary-fixed-dim: #f7b1de;
    on-secondary: #4f1e42;
    on-secondary-fixed: #36072c;
    on-secondary-fixed-variant: #69345a;
    secondary-container: #69345a;
    on-secondary-container: #ffd8ee;
    tertiary: #ffb4a2;
    tertiary-fixed: #ffdad2;
    tertiary-fixed-dim: #ffb4a2;
    on-tertiary: #561f11;
    on-tertiary-fixed: #3a0a02;
    on-tertiary-fixed-variant: #723425;
    tertiary-container: #723425;
    on-tertiary-container: #ffdad2;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1e100c;
    on-surface: #f9dcd6;
    on-surface-variant: #e7bdb3;
    outline: #ae887f;
    outline-variant: #5d4038;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f9dcd6;
    inverse-on-surface: #3d2c28;
    inverse-primary: #90427a;
    surface-dim: #1e100c;
    surface-bright: #473531;
    surface-container-lowest: #180b08;
    surface-container-low: #271814;
    surface-container: #2b1c18;
    surface-container-high: #372622;
    surface-container-highest: #42312c;
}