* {
    primary: #4fd8ea;
    primary-fixed: #94f1ff;
    primary-fixed-dim: #4fd8ea;
    on-primary: #00363c;
    on-primary-fixed: #001f24;
    on-primary-fixed-variant: #004f57;
    primary-container: #004f57;
    on-primary-container: #94f1ff;
    secondary: #81d3e0;
    secondary-fixed: #9eeffc;
    secondary-fixed-dim: #81d3e0;
    on-secondary: #00363c;
    on-secondary-fixed: #001f24;
    on-secondary-fixed-variant: #004f57;
    secondary-container: #004f57;
    on-secondary-container: #9eeffc;
    tertiary: #a5c8ff;
    tertiary-fixed: #d4e3ff;
    tertiary-fixed-dim: #a5c8ff;
    on-tertiary: #00315e;
    on-tertiary-fixed: #001c3a;
    on-tertiary-fixed-variant: #214876;
    tertiary-container: #214876;
    on-tertiary-container: #d4e3ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0e141c;
    on-surface: #dee2ef;
    on-surface-variant: #bcc7dc;
    outline: #8791a4;
    outline-variant: #3d4758;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dee2ef;
    inverse-on-surface: #2b313a;
    inverse-primary: #006973;
    surface-dim: #0e141c;
    surface-bright: #343943;
    surface-container-lowest: #090e17;
    surface-container-low: #161c24;
    surface-container: #1b2028;
    surface-container-high: #252a33;
    surface-container-highest: #30353e;
}