* {
    primary: #00e552;
    primary-fixed: #6dff7e;
    primary-fixed-dim: #00e552;
    on-primary: #00390e;
    on-primary-fixed: #002105;
    on-primary-fixed-variant: #005318;
    primary-container: #005318;
    on-primary-container: #6dff7e;
    secondary: #a7d0b6;
    secondary-fixed: #c3ecd1;
    secondary-fixed-dim: #a7d0b6;
    on-secondary: #113725;
    on-secondary-fixed: #002112;
    on-secondary-fixed-variant: #294e3a;
    secondary-container: #294e3a;
    on-secondary-container: #c3ecd1;
    tertiary: #90d4c0;
    tertiary-fixed: #acf0dc;
    tertiary-fixed-dim: #90d4c0;
    on-tertiary: #00382d;
    on-tertiary-fixed: #002019;
    on-tertiary-fixed-variant: #005142;
    tertiary-container: #005142;
    on-tertiary-container: #acf0dc;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0d150d;
    on-surface: #dce5d6;
    on-surface-variant: #c0c9bb;
    outline: #8a9386;
    outline-variant: #40493e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dce5d6;
    inverse-on-surface: #2a3329;
    inverse-primary: #006e23;
    surface-dim: #0d150d;
    surface-bright: #333c31;
    surface-container-lowest: #081008;
    surface-container-low: #151e15;
    surface-container: #192218;
    surface-container-high: #242c22;
    surface-container-highest: #2e372d;
}