@import "colors.rasi"

configuration {
    font: "JetBrainsMono Nerd Font 12";
    icon-theme: "Adwaita";
    show-icons: true;
    sort: true;
    sorting-method: "fzf";
    kb-accept-custom: "";
}

* {
    background-color: transparent;
    text-color: @on-surface;
}

window {
    background-color: @surface-container;
    border-color: @primary;
    border: 1px;
    padding: 5px;
}

mainbox {
    background-color: @surface-container;
}

prompt, textbox-prompt-colon {
    enabled: false;
}

inputbar {
    background-color: @surface-container-highest;
    padding: 10px 12px;
    children: [ prompt, entry ];
}

entry {
    text-color: @on-surface;
    placeholder: "Search programs:";
    placeholder-color: @on-surface-variant;
}

listview {
    lines: 12;
}

element {
    padding: 2px 10px;
}

element normal {
    background-color: @surface-container;
}

element alternate {
    background-color: @surface-container-high;
}

element selected {
    background-color: @primary-container;
    text-color: @on-primary-container;
}

element urgent {
    background-color: @error-container;
    text-color: @on-error-container;
}

element-icon {
    size: 0.9em;
    padding: 0 5px 0 0;
}
