@import "colors.rasi"

configuration {
    font: "JetBrainsMono Nerd Font 12";
    icon-theme: "Adwaita";
    show-icons: true;
    sort: true;    
    sorting-method: "fzf";
    kb-accept-custom: "";
}

* {
    background-color: @surface-container;
    border-color: @on-secondary;
    text-color: @on-surface;
    selected-background-color: @primary-container;
    selected-text-color: @on-primary-container;
    urgent-background-color: @error-container;
    urgent-text-color: @on-error-container;
}

window {
    background-color: @surface-container;
    padding: 10px;
}

mainbox {
    background-color: @surface-container;
}

prompt, textbox-prompt-colon {
    enabled: false;
}

entry {
    text-color: @on-surface;
    placeholder: "Search programs:";
    padding: 5px;
}

listview {
    lines: 12;       /* number of visible entries */
}

element {
    padding: 2px 10px;
}

element selected {
    background-color: @primary-container;
    text-color: @on-primary-container;
}

element urgent {
    background-color: @error-container;
    text-color: @on-error-container;
}

scrollbar {
    handle-color: @on-surface;
}
